#################
## Misc
#################
**/.DS_Store
node_modules/
demo/
.vscode/

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

############
## Mac
############

# Mac crap
.DS_Store

##############
## TypeScript
##############
*.d.ts