.DS_STORE
debug.log
npm-debug.log
!**/*systemjs-angular-loader.js
*.js.map
src/
node_modules/
e2e/
coverage/
integration/
bs-config.json
build.js
inline-resources.js
karma-coverage.conf.js
karma-test-shim.js
karma.conf.js
package-lock.json
tsconfig.json
tslint.json
yarn.lock
.git
