#################
## Misc
#################
**/.DS_Store
nbproject
manifest.mf
build.xml
node_modules/*
npm-debug.log
src/*.js
tests/*.js
dist/
!config/*
!karma.conf.js
!webpack.config.js
!make.js
!examples/**/*.js
coverage
*.metadata.json
bundles

############
## No need or demo folder to be part of NPM
############
demo/

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

############
## Mac
############

# Mac crap
.DS_Store
