<h1>
  {{title}}
</h1>

<h3> Basic Usage </h3>
  <code>
    &lt;fa name="spinner"&gt;&lt;/fa&gt;
  </code>
  <div>
    Renders:
    <fa name="spinner"></fa>
  </div>
<hr />
  <code>
    &lt;fa name="spinner" animation="spin"&gt;&lt;/fa&gt;
  </code>
  <div>
    Renders:
    <fa name="spinner" animation="spin"></fa>
  </div>
<hr />
  <code>
    &lt;fa name="spinner" animation="pulse"&gt;&lt;/fa&gt;
  </code>
  <div>
    Renders:
    <fa name="spinner" animation="pulse"></fa>
  </div>
<hr />
  <code>
    &lt;fa name="spinner" animation="spin" size="3x"&gt;&lt;/fa&gt;
  </code>
  <div>
    Renders:
    <fa name="spinner" animation="spin" size="3x"></fa>
  </div>
