<h1>
  {{title}}
</h1>

<h3> Basic Usage </h3>
  <code>
    &lt;ng2-fa name="spinner"&gt;&lt;/ng2-fa&gt;
  </code>
  <div>
    Renders:
    <ng2-fa name="spinner"></ng2-fa>
  </div>
<hr />
  <code>
    &lt;ng2-fa name="spinner" animation="spin"&gt;&lt;/ng2-fa&gt;
  </code>
  <div>
    Renders:
    <ng2-fa name="spinner" animation="spin"></ng2-fa>
  </div>
<hr />
  <code>
    &lt;ng2-fa name="spinner" animation="pulse"&gt;&lt;/ng2-fa&gt;
  </code>
  <div>
    Renders:
    <ng2-fa name="spinner" animation="pulse"></ng2-fa>
  </div>
<hr />
  <code>
    &lt;ng2-fa name="spinner" animation="spin" size="3x"&gt;&lt;/ng2-fa&gt;
  </code>
  <div>
    Renders:
    <ng2-fa name="spinner" animation="spin" size="3x"></ng2-fa>
  </div>
